* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1240px;
  /* border: 1px solid red; */
}
.mini_navbar {
  display: none;
}
.navbar {
  padding-top: 48px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_left {
  display: flex;
  align-items: center;
  gap: 59px;
}
.nav_links ul {
  display: flex;
  gap: 55px;
}
.nav_links ul li a {
  color: #999fae;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;

  letter-spacing: -0.64px;
}
.header_item {
  position: relative;
}
.header_item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 2px;
  width: 0;
  border-radius: 2px;
  margin: 0 auto;
  background: #5956e9;
  transition: width 0.25s;
}
.header_item:hover:before {
  width: 100%;
}

.select_link img {
  margin-left: 14px;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav_right a i {
  font-size: 28px;
  color: #fff;
}
.select_a {
  color: #2522ba;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
  border-radius: 20px;
  background: #fab8c4;
  padding: 24px 47px;
}
.nav_bottom {
}
.header_Content {
  margin-top: 101px;
  margin-left: 100px;
  /* position: absolute; */
  position: relative;
}

.header_Content h1 {
  color: #292930;
  font-family: "DM Sans", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 99.327%;
  letter-spacing: -2.4px;
  max-width: 420px;
}
.like_line::after {
  content: "";
  background-color: #5956e9;
  width: 72px;
  height: 8px;
  position: absolute;
  margin-top: -118px;
  left: 180px;
}
.header_Content span {
  color: #5956e9;
}
.header_Content > p {
  margin-top: 24px;
  color: #999fae;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  max-width: 378px;
}
.header_video {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.header_video > a {
  border-radius: 20px;
  background: #5956e9;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
  padding: 29px 46px;
}
.header_video_see a {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
}
.header_video_see p {
  color: #999fae;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
}
.header_scroll {
  margin-top: 99px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 100px;
}
.header_scroll p {
  color: #999fae;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.4px;
}
.Circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main_circle {
  position: absolute;
  border-radius: 50%;
}
.main_circle:first-child {
  top: -200px;
  left: -200px;
  width: 400px;
  height: 400px;
  background: #ffdc60;
}
.main_circle:nth-child(2) {
  top: 56%;
  left: calc(50% - 620px);
  width: 48px;
  height: 48px;
  background: #fab8c4;
}
.main_circle:nth-child(3) {
  left: 46%;
  top: 229px;
  z-index: 2;
  width: 128px;
  height: 128px;
  background: #ffdc60;
}
.main_circle:nth-child(4) {
  left: 49.5%;
  bottom: 0px;
  width: 32px;
  height: 32px;
  background: #5956e9;
}
.main_circle:nth-child(5) {
  right: calc(50% - 250px);
  bottom: -380px;
  z-index: 2;
  width: 180px;
  height: 180px;
  background: #fab8c4;
}

.main_circle:nth-child(6) {
  top: -98px;
  right: calc(50% - 1330px);
  width: 1220px;
  height: 1220px;
  background: #5956e9;
}
.main_circle:nth-child(7) {
  top: 79%;
  right: calc(50% - 594px);
  z-index: 2;
  width: 103px;
  height: 103px;
  background: #fff;
}

.group_computer {
  /* width: 100%; */
  position: absolute;
  top: 206px;
  right: calc(50% - 686px);
  /* font-size: 0; */
}
.video_play {
  position: absolute;
  top: 15px;
  right: -38px;
}
.cotact {
  position: absolute;
  top: 310px;
  right: 578px;
}
.Mouse {
  position: absolute;
  top: 550px;
  right: 155px;
}
.Desktop {
}

/* ----Dark_Features---- */
.Dark_Features {
  background: #27272e;
}
/* ----RESPONSEVE--- */
@media (max-width: 1365px) {
  .container {
    width: 96%;
  }
  .nav_right a i {
    color: #292930;
  }
  .header_Content {
    margin-left: 70px;
  }
  .main_circle:first-child {
    top: -134px;
    left: -134px;
    width: 268px;
    height: 268px;
    right: calc(50% - 1330px);
  }
  .main_circle:nth-child(6) {
    right: calc(50% - 1480px);
  }
}
@media (max-width: 1250px) {
  .header_Content {
    margin-left: 70px;
  }
}
@media (max-width: 1199px) {
  .main_circle:nth-child(6) {
    top: -47px;
    right: calc(50% - 1252px);
    width: 1118px;
    height: 1118px;
  }
}
@media (max-width: 1023px) {
  .select_a {
    display: none;
  }
  .main_circle:nth-child(6) {
    top: 116px;
    right: -85px;
    width: 170px;
    height: 170px;
  }
}
@media (max-width: 650px) {
  .container {
    width: 90%;
  }
  .navbar {
    display: none;
  }

  .mini_navbar {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  .main_circle:first-child {
    display: none;
  }
  .header_Content {
    margin-left: 0px;
    position: relative;
  }

  .header_Content h1 {
    color: #292930;
    font-size: 60px;
    font-weight: 500;
    line-height: 99.327%;
    letter-spacing: -1.5px;
    max-width: 220px;
  }
  .header_Content > p {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    max-width: 230px;
  }
  .like_line::after {
    content: "";
    background-color: #5956e9;
    width: 46px;
    height: 5px;
    position: absolute;
    margin-top: -76px;
    left: 100px;
  }
  .header_video_see p {
    display: none;
  }
  .header_video {
    /* width: 84px; */
    /* height: 64px; */
    /* border: 2px solid #e3e6e9; */
    /* border-radius: 16px; */
  }
  .main_circle:nth-child(3) {
    top: 309px;
    left: 62%;
    width: 32px;
    height: 32px;
  }
  .group_computer {
    width: 400px;
    position: relative;
    /* top: 506px; */
    right: 0px;
    /* font-size: 0; */
  }
  .video_play {
    position: absolute;
    top: 15px;
    right: -38px;
  }
  .cotact {
    position: absolute;
    top: 310px;
    right: 578px;
  }
  .Mouse {
    position: absolute;
    top: 550px;
    right: 155px;
  }
  .Desktop {
  }
}
